<footer class="main-footer">
    <div class="container">
        <div class="footer-container">
            <div class="developer">
                <a href="https://github.com/alauracarlotta" target="_blank">by alauracarlotta</a>
            </div>
            <div class="powered">
                <a href="https://github.com/alauracarlotta/Curso-de-Django-Web-Framework-e-Django-Rest-Framework-DRF-com-Luiz-Otavio-Miranda" target="_blank">Udemy by LM</a>
            </div>
        </div>
    </div>
</footer>