{% extends 'base/base.html' %}

{% block title %} Home {%endblock%}


{% block content %}

<main class="main-cards-container">
    <div class="container">
        <div class="main-cards">
            <div class="main-cards__list">
                {% for recipe in recipes %}
                    {% include "recipes/partials/recipes.html" %}
                {% empty %}
                    <div class="center">
                        <h1>No recipes found here</h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}
