<div class="main-cards__detail">
    <div class="main-cards__list-item">
        <div class="recipe-cover">
            <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="">
        </div>
        <div class="recipe-content">
            <!-- title -->
            <div class="recipe-title">
                <h2>Lorem ipsum dolor sit amet.</h2>
            </div>

            <!-- author -->
            <div class="recipe-author">
                <span class="recipe-author-item author">
                    <i class="fas fa-user"></i>
                    {{ name }}
                </span>
                <span class="recipe-author-item date">
                    <i class="fas fa-calendar-alt"></i>
                    {{ author_date }}
                </span>
                <span class="recipe-author-item category">
                    <a href="/recipes/category/doces">
                        <i class="fas fa-layer-group"></i>
                        <span>{{ category }}</span>
                    </a>
                </span>
            </div>

            <!-- description -->
            <div class="recipe-description">
                <div class="recipe-description__ingredients">
                    <h3 class="recipe-description__ingredients_title">
                        Ingredientes:
                    </h3>
                    <ul>
                        {% for ingredient in ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="recipe-description__method">
                    <h3 class="recipe-description__method_title">
                        Modo de Preparo:
                    </h3>
                    <p class="recipe-description__method_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aut consectetur aliquam. Nostrum aspernatur ipsam nesciunt ducimus aliquam. Quam quidem, accusamus explicabo vel perspiciatis nam enim. Eos ab sint amet.
                    Harum nobis omnis quo impedit beatae quas quidem ab sit dolor eveniet, voluptate fugiat reprehenderit. Quo repellendus delectus veniam veritatis officia excepturi, obcaecati eos dolorem at voluptatum similique nobis rem!
                    Molestiae quae architecto deleniti quia sed possimus corporis quam sint, provident omnis. Soluta, nostrum molestias adipisci accusamus nesciunt optio minus voluptatem? Asperiores nemo voluptatem dolores molestiae alias sapiente sit porro.</p>
                </div>
            </div>
        </div>

        <!-- meta -->
        <div class="recipe-meta__container">
            <div class="recipe-meta recipe-preparation">
                <h3 class="recipe-meta__title">
                    <i class="fas fa-stopwatch"></i>
                    Preparo
                </h3>
                <div class="recipe-meta-text">
                    0 Minutos
                </div>
            </div>
            <div class="recipe-meta recipe-servings">
                <h3 class="recipe-meta__title">
                    <i class="fas fa-pizza-slice"></i>
                    Porções
                </h3>
                <div class="recipe-meta-text">
                    0 Porções
                </div>
            </div>
        </div>

        <!-- see more -->
        <div class="recipe-see-more__container">
            <a href="recipe/id/" class="recipe-see-more__button">
                <i class="fa-solid fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </div>
    </div>
</div>
