{% extends 'base/base.html' %}

{% block title %} Home {%endblock%}


{% block content %}

    {% include "partials/home/search-button.html" %}

    <main class="main-cards-container">
        <div class="container">
            <div class="main-cards">
                <div class="main-cards__list">
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                    <div class="cards"><div>{{ name }}</div></div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
